@page "/blogs"
@inject IHttpBlogService blogService
<PageTitle>Blog Create</PageTitle>

@if (BlogList is null)
{
    <h5>Loading...</h5>
}
else
{
    foreach (var blog in BlogList)
    {
        <h5>@blog.Title</h5>
        <p>@blog.Content</p>
        <hr />
    }
}


@code {
    private IEnumerable<BlogDto>? BlogList { get; set; }
    protected override async Task OnInitializedAsync()
    {
        BlogList = await blogService.GetBlogsAsync();
    }
}
